body{
    margin:0px;
    padding:0px;
    height: vh;
    width: wh;
    background-image: url('https://img.freepik.com/premium-photo/open-book-pile-books_391052-2247.jpg');
    background-repeat: no-repeat;
    background-size:cover ;

}

*{
    opacity: 3;
    box-sizing: border-box;
}
@media only srceen and(min-width:200px) and (max-wdth:400px) {
    body{
        background-color: black;
        color: white;
    }
    nav li{
        margin: 5px ;
        font-size: 10px;
    }
    
}

nav{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    flex-wrap: wrap;
    
}
#time{
    margin: auto;
    border-radius:10px;
    filter: drop-shadow(2px);
    background-color: aliceblue;
    width:30%;
    text-align: center;
    position: relative;
    top:10px;
    right: 100px;
    
}
#out{
    cursor: pointer;
    background-color: aqua;
}
nav li{
    list-style: none;
    margin:20px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;

}
nav li a:hover{
   border-bottom: 2px solid black;

}

#searchli{
    position: relative;
    left: 350px;
    
}

#searchli input{
    /* width:200px; */
    /* height:30px; */
    border-radius: 5px;

}
#searchli input::placeholder{
    color:black
}


#show_book{
    position: relative;
    top:30px;
    text-align: center;
}

.para_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:85%;
    margin: auto;
    position: relative;
    top:20px;
    padding:10px;
    border-radius:5px;
}

.para_section #language{
    text-align: justify;
}

.book_image{
    display: flex;
    justify-content: center;
    overflow: auto;
    align-items: center;
    position: relative;
    top:50px;
    width: 85%;
    margin:auto;
}

.book_image .book{
    margin-left:10px;
    height: 240px;
    width: 150px;
    padding:20px;
    margin:20px;

}

.book_image .book img{
    height: 200px;
    width: 150px;
}

.book_image .book button[type="button"]{
    position: relative;
    top:12px;
    border:none;
    border-radius: 5px;
    width: 150px;
    background-color: blue;
    color:white;
    cursor: pointer;
}

.payment_layout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 470px;
    width: 250px;
    position: relative;
    bottom:500px;
    border-radius: 10px;
    background-color:black;
    opacity: 5;
    
}

.payment_layout h2{
    color:white;
    font-size:large;
    text-align: center;
}

.payment_layout img{
    position:relative;
    right: 10px;
    height: 200px;
    width: 230px;
    border-radius: 10px;
}
.payment_layout div {
    width: 100%;
    height: 30px;
    margin:10px;
}

.payment_layout div input[type="text"]{
    width:90%;
    height:30px;
    background-color: #ebebeb;
    border:none; 
    border-radius:5px;


}

.payment_layout div #ddd{
    width:60%;
}
.payment_layout div #dd{
    width:28%;
}


.payment_layout div button{
    height: 28px;
    position: relative;
    top:0px;
    background-color: blue;
    color:white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.payment_layout div button[type="submit"]{
    width:60%;
}
.payment_layout div button[type="reset"]{
    width:27%;
}

/* login page css is starting here */

marquee{
    animation-name:marquee;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all 1s ease-in-out;

}

@keyframes marquee{
    10%{
        color:green;
    }
    20%{
        color:blue;
    }
    40%{
        color:chartreuse;
    }
    60%{
        color:gold;
    }
    80%{
        color:green;
    }
    100%{
        color:rgb(128, 0, 70);
    }
}

.login{
    position:relative;
    top:170px;
    margin:auto;
    width:200px;
    height: 280px;
    border:2px solid black;
    background-color:#ebebeb;
    border-radius: 15px;
}

.login h3{
    text-align: center;
}

.login .input_position{
    position: relative;
    top:65px;
}

.login .input_position .data{
    display: flex;
    flex-direction: column;
    height: 30px;
    width:90%;
    margin:auto;
    margin-top:10px;
    
}

.login .input_position .data input{
    height: 40px;
    outline:none;
    border-radius: 6px;
    border:none;
    border-bottom:2px solid black ;
    
    
}
.login .input_position .data input::placeholder{
    color:green;
    
}

.login .input_position .data button{
    position:relative;
    height: 40px;
    border:none;
    background-color: blue;
    color:white;
    border-radius: 7px;
    top:10px;
    
}

.login .input_position .data button:hover{
    background-color: green;
}

/* Ragistration page is statrting here */

/* .ragistration_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    height: 330px;
    width:200px;
    border:2px solid black;
    position: relative;
    top:150px;
    border-radius: 15px;
    background-color: #ebebeb;

}

.ragistration_page h2{
    align-items: center;
    position: relative;
    bottom: 10px;
}

.ragistration_page .ragistration_data{
    margin:2px;
    width:100%;

}
.ragistration_page .ragistration_data input, .ragistration_page .ragistration_data select{
    margin-left: 10px;
    width:90%;
    height: 30px;
    outline:none;
    border:none;
    border-bottom: 2px solid black;
    border-radius:6px;
  
}
.ragistration_page .ragistration_data input::placeholder{
    color:black;
}

.ragistration_page .ragistration_data button{
    position: relative;
    top:10px;
    margin-left: 10px;
    background-color: blue;
    color:white;
    width:41%;
    border-radius: 5px;
}
.ragistration_page button[type="submit"]:hover{
    background-color: green;
}

.ragistration_page button[type="reset"]:hover{
    background-color: red;
} */


/* profile page is starting here */

.profile_page{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border:2px solid black;
    position: relative;
    height: 350px;
    width:250px;
    top:100px;
    border-radius:15px;
}

.profile_page img{
    position:relative;
    transition: all 1s ease-in-out;
    cursor: pointer;  
    transition: all 1s ease-in-out;
    cursor: pointer;  
    bottom: 40px;
    height: 100px;
    width:100px;
    border-radius: 100%;
    transform: rotateX(360deg);
   
}

.profile_page img:hover{
    transform: scale(1.3); 
}

.profile_page .pro{
    margin:10px;
    cursor: pointer;
    font-size: smaller;
    
}

.profile_page .pro:hover{
    border-bottom:2px solid black;
}

